.navbar {
    justify-content: space-between;
    font-size:x-large;
}
.span {
    padding-right: 1rem;
    color: white;
}
.a {
    padding-right: 1rem; 
    color: red;
}

.title {
    color: white;
    
}

.icono {
    transform: scale(1.2);
    color:red;
}

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:green }