.navbar {
    justify-content: space-between;
    font-size:x-large;
}
.span {
    padding-right: 1rem;
    color: white;
}
.a {
    padding-right: 1rem; 
    color: red;
}

.title {
    color: white;
    
}

.icono {
    transform: scale(1.2);
    color:red;
}