
<div class="mat-display-3"> Home </div>

<div class="mat-display-2"> Instrucciones para ver conexion: </div>


<div class="mat-display-1"> 
    <ul>Informacion obtenida de la BD de postgreSQL se encuentra en la pestaña "Miembros"</ul>
</div>

<div class="mat-display-2"> Servidor :</div>

<div class="mat-display-1"> 
    <ul>Los proyectos de gitHub (frontend,backend) estan en carpeta proyectos (home/usuario6/proyectos)</ul>
    <ul>Para crear carpeta dist en Angular: ng build --prod</ul>
</div>
<p>
    <li><b>Gestor de Base de datos PostgreSQL</b></li> 
    <li>Usuario: g6ingsoftware</li> 
    <li>Contraseña :g6ingsoftware2021</li>
    <li>Nombre Base de datos: g6ingsoftware_bd</li> 
    <li>Url de acceso a servicios (BD): </li>
    <li>146.83.194.142:5432</li>
</p>
