<div class="mat-display-4"> Tipografia 4 </div>
<div class="mat-display-3"> Tipografia 3 </div>
<div class="mat-display-2"> Tipografia 2 </div>
<div class="mat-display-1"> Tipografia 1 </div>

<div class="mat-headline"> mat-headline </div>
<div class="mat-title"> mat-title </div>
<div class="mat-subheading-2"> mat-subheading-2 </div>
<div class="mat-subheading-1"> mat-subheading-1 </div>

<div class="mat-body-1"> mat-body-1 </div>
<div class="mat-body-2"> mat-body-2</div>
<div class="mat-caption"> mat-caption </div>

<div class="mat-tipography"> 
    <h1>En h1</h1>
    <h2>En h2</h2>
    <h3>En h3</h3>
    <h4>En h4</h4>

     </div>

<div class="botones">
    <button mat-button>Boton mat-button</button>
    <button mat-raised-button>Boton mat-raised-button</button>
    <button mat-flat-button>mat-flat-button</button>
    <button mat-stroked-button>Boton mat-stroked-button</button>
</div>

<div class="iconos">
    <button mat-icon>Boton mat-icon</button>
    <button mat-fab>Boton mat-fab</button>
    <button mat-mini-fab>Boton mat-mini-fab</button>
</div>